
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# ignore
.DS_Store
.Rhistory
.Rproj.user
.snakemake
 
# tmp files
scratch/
*tmp
tmp*
*tmp*

# Result of running docker image locally. Should not be tracked
.rstudio/

# bed files for domains
analyses/01-tumor-specific-variants/output/*/*unip*bed
analyses/01-tumor-specific-variants/output/*/*cds.bed

# control variant psi and stats
analyses/process-ctrls-variants/output/*metrics.tsv
analyses/tumor-specific-alt-splice-sites/output/*metrics.tsv

# histology tumor-specific splicing files
analyses/01-tumor-specific-variants/output/*splice-variants.tsv
analyses/01-tumor-specific-variants/output/*splice-variants.bed
analyses/01-tumor-specific-variants/output/tumor-specific-oncofetal-splice-variants-merged.bed
analyses/tumor-specific-alt-splice-sites/output/*splice-variants.tsv
analyses/tumor-specific-alt-splice-sites/output/*splice-variants.bed
analyses/tumor-specific-retained-introns/output/*splice-variants.tsv
analyses/tumor-specific-retained-introns/output/*splice-variants.bed

# full processed rmats file
analyses/01-tumor-specific-variants/output/pbta-splice-events-rmats.SE.processed.tsv.gz
analyses/pepMLM-preprocessing/results/annotated_splice_events.tsv

# Don’t commit downloaded reference data
data/
data/raw/

# Don’t commit old scratch paths
scratch/


# merged TESE file
analyses/summarize-tumor-enriched-splicing/results/merged-tumor-enriched-splice-events.tsv.gz
analyses/summarize-tumor-enriched-splicing/results/tumor-enriched-oncofetal-splice-junctions.bed

# 02-tumor-enriched-splicing output
analyses/02-tumor-enriched-splicing/results/pbta-merged-norm-junction-cts.qs2
analyses/02-tumor-enriched-splicing/results/tumor-enriched-oncofetal-splice-junctions.tsv.gz
analyses/02-tumor-enriched-splicing/results/tumor-enriched-oncofetal-splice-junctions-domain-expr-annotated.tsv.gz
analyses/02-tumor-enriched-splicing/results/junction-annot.tsv.gz

# 03-tesj-differential-splicing output
analyses/03-tesj-differential-splicing/results/tumor-enriched-oncofetal-junction-splice-events.qs2
analyses/03-tesj-differential-splicing/results/tumor-enriched-oncofetal-junction-diff-splice-event-annotation.tsv.gz
analyses/03-tesj-differential-splicing/results/tumor-enriched-oncofetal-diff-splice-junctions.qs2

# survival analyses folder
analyses/hgg-enriched-splicing/results/survival/*RDS

# 02-tumor-enriched-splicing output
analyses/02-tumor-enriched-splicing/results/pbta-merged-norm-junction-cts.qs2
analyses/02-tumor-enriched-splicing/results/tumor-enriched-oncofetal-splice-junctions.tsv.gz

# combat-corrected TPM matrices
analyses/06-TEJ-expr-determinants/results/*.qs2

# pepMLM summary generated FASTA files and AlphaFold generated output
analyses/pepMLM-summary/input/AlphaFold-tumor-enriched-splice-junction-predictions/
analyses/pepMLM-summary/results/iPTM-filtered-AlphaFold-predictions/*.result.zip
analyses/pepMLM-summary/results/input_fastas/

# motif enrichment files
analyses/06-TEJ-expr-determinants/results/*dna-seqs.fa
analyses/06-TEJ-expr-determinants/results/ame/*

# survival analysis results, plots
analyses/exon-inclusion-analyses/results/survival/*
analyses/exon-inclusion-analyses/plots/survival/*
